---
layout: 'base.njk'
section: page
pagination:
    data: pdv
    size: 1
    alias: pdv
permalink: "{{ pdv.ville }}/"
---
<div class="page-container local">
<section class="intro">

  <div class="intro-in">
  <h1>
{{ pdv.ville }}
  </h1>
  </div>
  </section>

</div>